<!DOCTYPE html>
<html>
<head>
	<title>FuelEd</title>
	<link rel="stylesheet" href="fueled.css" type="text/css">
</head>

<body>
	<div id="main">
		<div id="login_header">
			<h1>FuelEd</h1>
			<h3>User Portal</h3>
			<nav>
				<ul>
					<li>Username: <input type="text" name="username"></li>
            		<li>Password: <input type="text" name="username"></li>
            		<li class="button"><a href="main.html">Login</a></li>
				</ul>
			</nav>
		</div>
		<div id= "content">
			<h2>welcome</h2>
			<p id="login_welcomebox"> Test test test woooo</p>  
		</div>
	</div>
</body>
</html>