-#  This file is app/views/schools/index.html.haml

%div{:id => "calendar"}
  %h2 all schools
  - @schools.each do |school|
    %p
      %table{:class => "appt"}
        %tr
          %td{:width => "60%"}
            %p
              Name: #{school.name} <br/>
              Location: #{school.location} <br/>
              
                

  =link_to "Add New School", "/schools/new"
%div.clear
%div{:id => "footer"}
