body{
	margin:0px;
	padding:0px;
	font-size: 15px;
	font-family: 'Helvetica';
	min-width:1050px;
	font-weight: 100;
}

/*Header css*/

h1{
	font-family: 'Oswald', 'League Gothic';
	font-size: 550%;
	color:#8dc729;
	margin:10px;
}

h2{
	font-family: 'Oswald', 'League Gothic';
	font-size: 250%;
	color:#8dc729;
	margin:0px;
	padding:0px;
}

h3{
	font-family: 'Raleway', 'Code-Light', 'Helvetica';
}

/*Header and nav css*/

.header{
	padding:0px;
	box-shadow: 0px 4px 2px -2px gray;
    font-family: 'Raleway', 'Code-Light', 'Helvetica';
}

.header .inline{
	display:inline;
}

.header #title{
	float:left;
}

nav ul{
	list-style:none;
}

nav li {
	display: inline;
	padding: 10px;	
}

#header-login nav{
	float:right;
    padding-top: 50px;
}

#header-main nav{
	float:right;
    padding-top: 40px;
    padding-right: 10px;
}

nav input{
	border: 0px solid #000; 
    background: rgba(0,0,0,0.08);
    font-size: 1em;
    width:140px;
    padding: 5px;
}

/*Links*/

a{
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
}

a:hover {
	text-shadow: 1px 1px 1px #333;
}

.clear {
	clear: both;
}

/*Main content css*/
#content{
	text-align: left;
	width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 30px;
    margin-bottom: 40px;
}

/*Grey text boxes css*/
.textbox{
	border: 0px solid black;
	padding: 20px;
	background: rgba(0,0,0,0.08);
}

/*All button css*/

.button {
   	border: 0px solid black;
    background: #b8d28b;
    padding: 5px 20px 5px 20px;
    margin:10px;
    margin-left:0px;
    color: white;
}

.button:hover {
    background: #8dc729;
    text-shadow: none;

}

.button-square{
	border: 0px solid black;
    background: #b8d28b;
    margin-left:0px;
    color: white;
	padding: 20px 10px;
}

.button-square:hover {
    background: #8dc729;
    text-shadow: none;
}

.button-pink{
    background: #ee69a4;
    padding: 5px 20px 5px 20px;
    color: white;
    margin:10px 0px;
    text-align: center;
}

.button-pink:hover {
    background: #db6a9d;
    text-shadow: none;

}

/*Main calendar section css*/

#sidebar{
	float: left;
	width:30%;
}

#calendar{
	float:right;
	width: 65%;
	margin-bottom: 30px;	
}

.day-label th {
    background: #b8d28b;
    color: white;
	padding: 0px 10px;
	width:90px;
	text-align: center;
}

.day-box th {
	background: white;
	padding:40px;
	width:20%;
}

/*Placeholder footer css for possible copyright statements or quicklinks*/

footer{
	position:absolute;
    bottom:0;
    right:0;
}

/*fonts*/

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/cIFypx4yrWPDz3zOxk7hIQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://themes.googleusercontent.com/static/fonts/oswald/v7/qpy-UiLNKP-VfOdbcs6r6-vvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
